.footer-container {
    width: 90%;
    margin: 24px auto 0 auto;
    border-top: 1px solid rgba(40, 42, 54, 0.5);

    h2 {
        font-size: 2.2rem;
        margin-top: 12px;
        font-weight: 700;
        color: #282a36;
    }
}