html {
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
}
body {
    padding: 0;
    margin: 0;
    background-color: #E8E7EE;
}


@media (max-width: 966px) {
    html {
        font-size: 7px;
    }
}