<div class="home-container">
    <div class="front-end">
        <h2>&lt;Front-end /&gt;</h2>
        <app-vscode-screen class="screen" name="frontend" [list]="frontendKnowledge"></app-vscode-screen>
    </div>
    
    <a href="/projects" class="cta mobile">Veja minhas criações =D <span class="animation">➡️</span></a>
    
    <div class="back-end">
        <h2>$area = "Backend";</h2>
        <app-vscode-screen class="screen" name="backend" [list]="backendKnowledge"></app-vscode-screen>
    </div>

    <div class="cta-container">
        <a href="/projects" class="cta desktop">Veja minhas criações =D <span class="animation">➡️</span></a>
    </div>
</div>